* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu Sans Mono', monospace;
    color: #ffffff;
}

.background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('../img/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .8;
}

section h3 {
    margin-bottom: 20px;
    color: #ffffff;
}

section {
    margin-top: 15px;
}

#contact {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    padding-bottom: 40px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}